@import "../common/palette.css";

div.container {
  margin-top: 4em;
}

div.team_container {
  margin-bottom: 1em;
}

div.name_container {
  flex-grow: initial;
  min-width: 16em;
}

div.name_container h2 {
  color: var(--color1);
  font-size: 1em;
  text-align: right;
}

@media (max-width: 575.98px) {
  div.member_row {
    justify-content: center;
    margin: 0;
  }

  div.member_row:last-child {
    margin-bottom: 2em;
  }

  div.name_container {
    margin: 0 auto;
  }

  div.name_container h2 {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  div.container {
    max-width: 800px;
  }
}
