@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./common/palette.css";

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    60deg,
    rgba(255, 52, 31, 1) 0%,
    rgba(255, 81, 31, 1) 22%,
    rgba(255, 113, 31, 1) 43%,
    rgba(255, 130, 20, 1) 54%,
    rgba(255, 160, 0, 1) 69%,
    rgba(255, 229, 0, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: white;
}

.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  max-width: 40em;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.banner_icon {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
  width: 60%;
}

.banner h1 {
  font-size: 1.2em;
  font-weight: 500;
}

.title {
  margin-top: 0.9em;
  margin-bottom: 0.2em;
  color: var(--white);
  font-size: 1.8em;
  font-weight: normal;
  text-align: center;
}

.link {
  color: var(--white);
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: underline;
}

.link:hover {
  color: var(--white);
}

div.content_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 4.5em 4em 4em 4em;
}

.top_row div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_row > div {
  padding: 0;
}

.logo {
  width: 10em;
}

.info {
  align-items: end;
  justify-content: space-between;
  font-size: 0.9em;
}

.icon_links {
  display: flex;
  justify-content: center;
}

.icon_links a {
  margin-left: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}

.icon_links a svg {
  height: 1.5em;
  width: auto;
}

.icon_links a:hover {
  color: var(--white);
  text-decoration: none;
}

.text_info {
  text-align: center;
}

.text_info .info-title {
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .banner h1 {
    font-size: 2em;
  }

  .banner_icon {
    width: 40%;
  }

  .link {
    font-size: 1.1em;
  }

  .left_text .info_title {
    text-align: end;
  }

  .text_info {
    text-align: start;
  }

  .logo {
    width: 15em;
  }

  .top_row div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icon_links {
    justify-content: flex-end;
  }
}

@media (min-width: 860px) {
  .banner h1 {
    font-size: 2.2em;
  }

  .link {
    font-size: 1.4em;
  }
}

/* Making the banner disapear on phones flipped horizontaly*/
@media (max-height: 400px) {
  .banner {
    display: none;
  }
}

@media (max-height: 630px) {
  .banner_icon {
    width: 40%;
  }

  div.content_container {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
