.main {
  width: 50%;
  margin-left: 25%;
}

.sponsorContainer {
  display: flex;
  align-items: center;
  height: 250px;
}

.gold {
  width: 60%;
  margin: 0 auto;
}

.silver {
  width: 50%;
  margin: 0 auto;
}

.bronze {
  width: 40%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .gold {
    width: 55%;
  }

  .silver {
    width: 45%;
  }

  .bronze {
    width: 35%;
  }
}

@media screen and (max-width: 991px) {
  .sponsorContainer {
    height: 125px;
  }

  .gold {
    width: 50%;
  }

  .silver {
    width: 40%;
  }

  .bronze {
    width: 30%;
  }
}

@media screen and (max-width: 767px) {
  .sponsorContainer {
    height: 125px;
  }

  .gold {
    width: 45%;
  }

  .silver {
    width: 35%;
  }

  .bronze {
    width: 25%;
  }
}

@media screen and (max-width: 600px) {
  .main {
    width: 75%;
    margin-left: 10%;
  }
}
