div.container {
  margin-top: 4em;
}

.dailyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dayDescription {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color5);
}

.date {
  font-weight: bold;
  font-size: 2em;
}

.speakersContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);

  justify-content: start;
}

.speakerContainer {
  margin: 0.5em;

  width: min-content;
}
