.participateSection {
  background-color: var(--color5);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 40px;
}

.participateButton {
  border: 5px solid var(--color4) !important;
  background-color: transparent !important;
  border-radius: 10px !important;
  padding: 1rem 4rem !important;
  color: var(--color4) !important;
  font-weight: 500 !important;
  font-size: 2.5rem !important;
  transition: 0.5s !important;
}

.participateButton:hover {
  border: 5px solid var(--color5) !important;
  border-radius: 10px !important;
  color: var(--color5) !important;
  background-color: var(--color4) !important;
  font-weight: 500 !important;
  font-size: 2.5em !important;
}

.colContent {
  text-align: center;
}

.participateText {
  font-size: 2em;
  color: white;
  font-weight: 500;
}
