@import "../common/palette.css";

.container {
  color: white;
  font-weight: bold;
  text-align: center;

  background: var(--color2) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 0.2em 1em;
  max-width: 9em;
}
